---
title: "Geo Consulenze"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.1"
  overlay_image: /assets/images/T1.gif

excerpt: "Tutto il supporto di cui hai bisogno per gestire i dati spaziali della tua organizzazione."

intro:
  - excerpt: 'Consulenze GIS, cartografia e mappe. Gestione, elaborazione e rappresentazione dei dati. Servizi catastali avanzati, integrazione con banche dati esterne ed open data.'

feature_row1:
  - # image_path: /assets/images/megalopoli.jpg
    alt: "placeholder image 2"
    title: "Strumenti"
    excerpt: 'Trova le soluzioni più adatte per la gestione e l''analisi di dati geografici e spaziali.'
    url: "/strumenti"
    btn_label: "Continua"
    btn_class: "btn--danger"

feature_row2:
  - title: "Portfolio"
    excerpt: 'Non solo software GIS. Scopri quali risorse vengono utilizzate per gestire al meglio l''informazione.'
    url: "/portfolio"
    btn_label: "Continua"
    btn_class: "btn--info"

feature_row3:
  - alt: "placeholder image 2"
    title: "Contatti"
    excerpt: 'Per sapere chi sono, conoscere il mio percorso professionale, o per avere maggiori informazioni.'
    url: "/contatti"
    btn_label: "Continua"
    btn_class: "btn--success"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row1" type="center" %}

{% include feature_row id="feature_row2" type="center" %}

{% include feature_row id="feature_row3" type="center" %}
