---
title: "Geo Consulenze"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.2"
  overlay_image: /assets/images/T1.gif

excerpt: "Supporto alla gestione, elaborazione e analisi di dati geografici e spaziali"

intro:
  - excerpt: 'Consulenze GIS, cartografia e mappe. Gestione, elaborazione, analisi e rappresentazione dataset. Servizi catastali avanzati, integrazione con banche dati esterne ed open data.'

feature_row1:
  - # image_path: /assets/images/megalopoli.jpg
    alt: "placeholder image 2"
    url: "/strumenti"
    btn_label: "Strumenti"
    btn_class: "btn--danger"
    # title: "Strumenti"
    excerpt: 'Scopri gli applicativi, le metodologie, i linguaggi di programmazione e le banche dati che utilizzo abitualmente'

feature_row2:
  - # title: "Portfolio"
    excerpt: 'Esplora alcuni dei progetti a cui ho lavorato attraverso le immagini, i grafici e le mappe dinamiche.'
    url: "/portfolio"
    btn_label: "Portfolio"
    btn_class: "btn--info"

feature_row3:
  - alt: "placeholder image 2"
    # title: "Contatti"
    excerpt: 'Scopri il mio percorso professionale e il CV, non esitare a conttattarmi'
    url: "/contatti"
    btn_label: "Contatti"
    btn_class: "btn--warning" #"btn--success"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row1" type="center" %}

{% include feature_row id="feature_row2" type="center" %}

{% include feature_row id="feature_row3" type="center" %}
